container-fluid {
  padding-top: 40px;
  padding-bottom: 40px;
}

.bg-1 {
    background-color: #e5e5e5; /* LightGrey */
    color: #fffff;
    padding-bottom: 30px;

}

#wrapper {
	position: absolute;
	top:200px;
	bottom:0;
	right:0;
	left:0;
	overflow:hidden;
}

#keypad {
	position: absolute;
    display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width:500px;
	height:200px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #777777;
	top: 50%;
	left: 50%;
	margin-right: -50%;
  padding-top: 40px;
	transform: translate(-50%, -50%);
}

.buttonspace {
	position: relative;
	width: 25%;
	height: 25%;
}

.button {
	position: absolute;
	width: 50%;
	height: 80%;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
	border-radius: 50%;
	cursor: pointer;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:18pt;
	color: black;
}

@media (max-width:360px){

#keypad {
	width:100%;
	height:100%;
}

.button {
	width: 80%;
	height: 80%;
	font-size:7vw;
}

}

@media (orientation: portrait) {
}

@media (orientation: landscape) {
}
